
$font: "FiraCode-Regular", "monospace", "sans-serif"

//################################################################################
// Colors

$dark_white: #dbceb8
$white: #fff
$black: #000
$warm_white: #f8efe1
$different_white: #eaeaea
$light_white: #f8f8f8
$lighter_gray: #ccc
$light_gray: #aaa
$gray: #666
$dark_gray: #333
$black_gray: #1c1c1c
$blue: #3ecefa


// Github
$gh_blue: #4183c4
$gh_red: #c00
$gh_light_brown: #777
$gh_lighter_gray: #ddd
