@import "vars"
@import "elements"

body
  background: $warm_white
  display: flex
  flex-direction: column
  height: 100vh
  padding-top: 30px

a
  &.bbut
    +lightbtn

li a
  color: $light_gray
  text-decoration: none
  font: 25px/1 $font

  -webkit-transition: all 0.5s ease
  -moz-transition: all 0.5s ease
  -o-transition: all 0.5s ease
  -ms-transition: all 0.5s ease
  transition: all 0.5s ease

li a:hover
  color: $gray

li.active a
  font-weight: bold
  color: $dark_gray
