@import "vars"

body
  background-color: $black_gray
  color: $warm_white

a
  &.bbut
    border: 0.15em solid $gray
    color: $warm_white
    &:hover
      color: black
      background-color: $warm_white


h1, h2, h3, h4, h5, h6
  color: $warm_white


code, tt, pre
  border: 1px solid $gray
  background-color: $dark_gray

.highlight
  pre
    background-color: $black_gray
    border: 1px solid $gray
    

pre
  color: #000