@import "vars"
@import "elements"
@import "btnDark"


body
  background-color: $black_gray
  color: $warm_white

h1, h2, h3, h4, h5, h6
  color: $warm_white


code
  background-color: $dark_gray
  border: 1px solid $gray

pre
  color: $warm_white

.token-add
  background: $green_add

.token-del
  background: $red_del
