body {
  background-color: #1c1c1c;
  color: #f8efe1; }

a.bbut {
  border: 0.15em solid #666;
  color: #f8efe1; }
  a.bbut:hover {
    color: black;
    background-color: #f8efe1; }

h1, h2, h3, h4, h5, h6 {
  color: #f8efe1; }

code, tt, pre {
  border: 1px solid #666;
  background-color: #333; }

.highlight pre {
  background-color: #1c1c1c;
  border: 1px solid #666; }
