@font-face {
	font-family: 'FiraCode-Regular';
	src: url('/static/FiraCode-Regular.ttf');
}

body {
  display: flex;
  height: 100vh;
  background: #1c1c1c;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
}

nav {
  margin: 50px;
}
 
ul {
  list-style-type: none;
}
 
li {
  height: 25px;
  margin-right: 0px;
  padding: 0 20px;
}
 
li a {
  text-decoration: none;
  color: #ccc;
  font: 25px/1 FiraCode-Regular, Verdana, sans-serif;
 
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
 
li a:hover {
  color: #666;
}
 
li.active a {
  font-weight: bold;
  color: #333;
}

.files {
  margin: auto;
  width: 50%;
  height: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.top-bar {
  display: flex;
}
