<div class="top-bar" >
  {{ if .DisplayButtons }}
    <button onclick="openNav();" class="bbtn" >&#9776;</button>
    <a href="/" class="bbtn" >&#8592;</a>
      <button onclick="showDiff();" id="diff-btn" class="tbtn">
      {{ if .IsDiff }}
        rendered
      {{ else }}
        diff
      {{ end }}
      </button>
  {{ end }}

  {{ .ThemeDropdown }}
  <div class = "theme-switch">
    <label class="switch">
      {{ if .IsDarkMode }}
        <input type="checkbox" onclick="themeChange(this);">
      {{ else }}
        <input type="checkbox" checked="checked" onclick="themeChange(this);">
      {{ end }}
      <span class="slider"></span>
    </label>
  </div>
</div>
